 #main{
    text-transform: capitalize;
    text-align: center;
    font-family: arial;
    height: 120px;
    width: 120px;
    background-color: aqua;
    border-style: solid;
    border-color: brown;
    border-width: 5px;
    
   
}
#outer{
    font-size: 25px;    
    height: 100px;
    width: 100px;
    background-color:yellow ;
    border-width: 2px;
    border-color: black;
    border-style: solid;

}
#inner{
    font-size:10px;
    height:9px;
    width: 20px;
    background-color: red;
    border: 2px dashed green;
}

#one{
    height: 100px;
    width: 100px;
    background-color: aqua;
    text-align: right; 
    border: 2px dashed black;
    text-align: center;
    padding: 10px;
    margin: 25px;
}
#two{
    height: 100px;
    width: 100px;
    background-color: aqua;
    text-align: right;
    border: 2px dashed black;
    padding: 10px;
    text-align: center;
    margin: 25px;
}